
<div class="container text-center " >
    <h2> Add User {{users + 1}} </h2>
    <pre></pre>

  <form action="" >
    <div class="form-group">
        <label for="firstname float-left "> Name </label> <br>
        <input type="text" name="firstname" class="form-controle" >
    </div>
    <pre></pre>

    <div class="form-group">
        <label for="age"> Age </label> <br>
        <input type="text" name="age" class="form-controle" >
    </div>
    <pre></pre>

    <div class="form-group">
        <label for="email"> Email </label> <br>
        <input type="text" name="email" class="form-controle" >
    </div>
    <pre></pre>

    <div class="form-group">
        <label for="address"> Address </label> <br>
        <input type="text" name="address" class="form-controle" >
    </div>
    <pre></pre>
    <div class="form-group">
        <label for="password"> Password </label> <br>
        <input type="text" name="password" class="form-controle" >
    </div>
    <pre></pre>


    <button class="btn btn-primary" type="submit"> Submit</button>

  </form>
</div>