<div class="container text-center ">
    <!-- <h2> Add User {{user}} </h2> -->
    <h2> Add User </h2>
    <pre></pre>

    <form [formGroup]="userform">
        <div class="form-group">
            <label for="firstname float-left "> Name </label>

            <input type="text" class="form-controle" formControlName="name">
        </div>

        <pre></pre>

        <div class="form-group">
            <label for="age"> Age </label>

            <input type="text" class="form-controle" formControlName="age">
        </div>

        <pre></pre>

        <div class="form-group">
            <label for="email"> Email </label>

            <input type="text" class="form-controle" formControlName="email">
        </div>

        <pre></pre>

        <div class="form-group">
            <label for="address"> Address </label>

            <input type="text" class="form-controle" formControlName="address">
        </div>

        <pre></pre>

        <div class="form-group">
            <label for="password"> Password </label>

            <input type="text" class="form-controle" formControlName="password">
        </div>

        <pre></pre>

        <button class="btn btn-primary" type="submit" (click)="adduser()" [routerLink]="['']"> Submit</button>

    </form>
</div>