.text-center {
    background-color: antiquewhite;

}

.card-header {
    background-color: bisque;

}


.card-title  {
    color: brown;
}

.card-text {
    color: rgb(221, 59, 59);
}

